<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="com.hunk.springweb.persistence.ProductionMapper">  
  
    <!-- 检索 -->  
    <select id="selectProductionByName" parameterType="java.lang.String" resultType="production">  
        <!-- 检索sql文 -->  
        SELECT productionid,productionname,price,detail FROM production  
        where productionname = #{productionname}  
    </select>  
      
    <!-- 插入 -->  
    <insert id="insertProduction" parameterType="production">  
        insert into production  values (#{productionid},#{productionname},#{price},#{detail});  
    </insert>  
    <!-- 更新 -->  
    <update id="updateProduction" parameterType="production">   
        update production set productionname = #{productionname},  
                              price = #{price},  
                              detail = #{detail}      
    </update>  
    <!-- 删除 -->  
    <delete id="deleteProduction" parameterType="java.lang.String">  
        delete from production where productionid = #{value}  
    </delete>  
</mapper>  